<div class="container-fluid">
  <input type="search" [(ngModel)]="searchByFirstName" class="form-control-1" placeholder="Search by first name">
  <input type="search" [(ngModel)]="searchByDateOfBirth" class="form-control-3" placeholder="Search by date of birth">
  <input type="search" [(ngModel)]="searchBySalary" class="form-control-4" placeholder="Search by salary">
  <input type="search" [(ngModel)]="searchByDepartment" class="form-control-2" placeholder="Search by department">
  <table class="table table-bordered">
    <thead class="thead-light">
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Date of Birth</th>
      <th>Direct Manager</th>
      <th>Salary</th>
      <th>Department</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let e of employeeList | firstNameFilter: searchByFirstName | departmentFilter: searchByDepartment
    | dateOfBirthFilter: searchByDateOfBirth | salaryFilter: searchBySalary; let i = index">
      <td>{{i + 1}}</td>
      <td>{{e.firstName}}</td>
      <td>{{e.lastName}}</td>
      <td>{{e.dob}}</td>
      <td>{{e.directManager}}</td>
      <td>{{e.salary}}</td>
      <td>{{e.department}}</td>
      <td>
        <button class="btn btn-warning" style="margin-right: 10px" (click)="update(e.id)">Edit</button>
        <button class="btn btn-danger" style="margin-right: 10px" (click)="delete(e.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
