<div class="container-fluid">
  <table class="table table-bordered">
    <thead class="thead-light">
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Date of Birth</th>
      <th>Direct Manager</th>
      <th>Salary</th>
      <th>Department</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let e of employeeList">
      <td>{{e.id}}</td>
      <td>{{e.firstName}}</td>
      <td>{{e.lastName}}</td>
      <td>{{e.dob}}</td>
      <td>{{e.directManager}}</td>
      <td>{{e.salary}}</td>
      <td>{{e.department}}</td>
      <td>
        <button class="btn btn-warning" style="margin-right: 10px" (click)="update(e.id)">Edit</button>
        <button class="btn btn-danger" style="margin-right: 10px">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
