.form-control-1 {
  width: 20%;
  margin: 10px;
}

.form-control-2 {
  width: 20%;
  margin: 10px;
}

.form-control-3 {
  width: 20%;
  margin: 10px;
}

.form-control-4 {
  width: 20%;
  margin: 10px;
}
