<nav class="nav bg-dark" id="navId">
  <li class="nav-item">
    <a href="#" class="nav-link active" [routerLink]="['/home']">Home</a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link active" [routerLink]="['/employee-list']">Employees List</a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link active" [routerLink]="['/save']">Add Employee</a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link active" [routerLink]="['/delete-all']">Delete All Employees</a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link active" [routerLink]="['/upload']">Import File</a>
  </li>
</nav>

<router-outlet></router-outlet>
